<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="x3.x1.x2ManyButtons" android:versionCode="1" android:versionName="1.0">
	<uses-sdk />
	<application android:label="3.1.2ManyButtons" android:icon="@drawable/Icon"></application>
</manifest>